/* Edit this file to add css styles for HTML text editor, each site should have a css/[sitename]/editor.css */
body, td, p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: x-small;
}

.tabellTopp {
    font-weight: bold;
    background: #AB933D;
    color: #FFFFFF;
}

.tabellUthevetRad {
    background: #f4f3ea;
}

.tabellNormalRad {
    background: #ffffff;
}
