#**
 * plugin.vm
 *
 * A collection of Velocity macros for easing plugin development in Flyt CMS
 *#

#**
 * pluginMessage
 *
 * Macro to translate a message code into a message from the plugin's message source
 *#
#macro( pluginMessage $code )$pluginRequestContext.getMessage($code)#end

#macro( pluginArgMessage $code $args)$pluginRequestContext.getMessage($code, $args)#end

#macro(setTitle $code )
#section("title")#pluginMessage($code)#end
#end

#macro(applyAdminLayout)
    #dispatch("/WEB-INF/jsp/admin/layout/administrationLayout.jsp")
#end