<html>
<head>
    <link rel="stylesheet" type="text/css" href="${contextPath}/wro-oa/admin-popuplayout.css">
    <link rel="stylesheet" type="text/css" href="${contextPath}/wro-oa/admin-commonlayout.css">

    <script type="text/javascript" src='${contextPath}/wro-oa/admin-popuplayout.js'></script>
</head>
<body>
    #parse("content.vm")
</body>
</html>
