html, body {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 11px;
    color: #000000;
    background-color: #f7f7f7;
}

/************** General styles **************/
a {
    color: #000000;
    text-decoration: none;
}

a.disabled {
    color:#5e5e5e;
}

input[type=submit] {
    cursor: pointer;
}

input.disabled {
    background-color: #eeeeed;
}
input.radio, input.checkbox {
    float: left;
    margin: 0 5px;
}
label.radio, label.checkbox {
    float: left;
}

fieldset {
    border: 1px solid black;
    padding: 4px;
}

td a {
    color:#1780b9;
}

td.number, th.number{
    text-align:right;
}

table.noborder td, table.noborder th {
    border:0;
}

/************** General classes **************/

.ajaxloading {
    background: url("../bitmaps/common/icons/small/loader_inline.gif") left center no-repeat;
    line-height: 28px;
    padding-left: 20px;
    color: #3ED7FD;
}

.clearing {
    clear: both;
}

.supportMenu {
    float: right;
}

#MainPane > .info {
    margin: 10px;
}

.error {
    background-color: #FFCCCC;
}

.hidden {
    display: none;
}

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}


/************** Layout **************/
#Top {
    min-width: 850px;
}

#TopMenu {
    height: 28px;
    line-height: 28px;
    padding: 0 17px;
    background: #3B3C3D url("../bitmaps/default/framework/top_nav_background.png") center left repeat-x;
}
#ModesMenu {
    padding: 0 5px;
    height: 37px;
    background: #333333 url("../bitmaps/default/framework/modus_background.png") center left repeat-x;
}

#ToolsMenu {
    height: 25px;
    padding: 0 5px;
    background: #E3E3E3 url("../bitmaps/default/framework/tools_background.png") center left repeat-x;
}

#TabToolsMenu {
    height: 26px;
    padding: 0 5px;
    background: #E3E3E3 url("../bitmaps/default/framework/toolstab_background.png") center left repeat-x;
}

#SideBar {
    background-color: #cccccc;
    float: right;
    width: 280px;
    height: 100%;
    overflow: auto;
}

#AjaxLoadingIllustration {
    position: absolute;
    top: 0;
    right: 180px;
    background: url("../bitmaps/common/icons/small/loader_framework.gif") left center no-repeat;
    color: #ffffff;
    height: 28px;
    line-height: 28px;
    display: none;
}

/************** Generic content pane styles  **************/
#MainPane {
    position: relative;
    float: left;
}

#MainPane table .title{
    width: 200px;
}

table.fullWidth {
    width: 100%;
}

/************** Specific content panes styles ********/

#Content.publish #MainPane, #Content.multimedia #MainPane {
    margin: 0;
    height: 100%;
}
#Content.publish #Framesplit, #Content.multimedia #Framesplit {
    float: right;
    width: 10px;
    height: 100%;
    border-right: 1px solid #8F8F8F;
    background: url(../bitmaps/default/framework/framesplit_right.png) top center repeat-y;
}

#Content.navigateContent #MainPane, #Content.navigateMultimedia #MainPane {
    position: relative;
    width: auto;
    height: 100%;
    background: #A0A0A0;
    margin: 0;
}
#Content.organizeSubpages #MainPane {
    background: #ffffff;
}
#Content.sidebar {
    float: left;
}

#Content.sidebar #MainPane {
    float: left;
    width: 620px;
}

#Content.administration #MainPaneContent {
    width: 600px;
    margin: 10px;
}

#Content.selecttemplate #MainPaneContent {
    width: 600px;
    margin: 10px;
}


#Content.mypage {
    min-width: 900px;
}

#Content.mypage table .date{
    width: 100px;
}

#Content.mypage table .modifiedby{
    width: 120px;
}

#Content.mypage table .action{
    width: 160px;
}

#Content.mypage .widgetcolumn {
    float: left;
    width: 31%;
    padding: 1%;
    min-height: 50%;
}

#Content.mypage .widget {
    border: 1px solid #999;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
}
#Content.mypage .widget-header {
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-radius-top-right: 5px;
    -webkit-border-radius-top-left: 5px;
    border: none;
    color: #000;
    height: 25px;
    padding: 0 10px;
    line-height: 25px;
    cursor: move;
    background: #E3E3E3 url(../bitmaps/default/framework/widget_top_background.png) repeat-x scroll left center;
}
#Content.mypage .widget-header h2 {
    margin: 0;
    float: left;
}
#Content.mypage .widget-header a{
    color: #000;
}
#Content.mypage .widget-header .ui-icon {
    float: right;
    margin-top: 4px;
    cursor: pointer;
    background-image: url(images/ui-icons_222222_256x240.png);
}
#Content.mypage .widget-content {
    padding: 10px; 
}
.ui-sortable-placeholder { border: 1px dotted black !important; border-radius: 0 !important; background: #fafafa !important; visibility: visible !important; }
.ui-sortable-placeholder * { visibility: hidden; }


/************** Top menu **************/
#TopMenu .logo {
    background: transparent url("../bitmaps/default/framework/top_nav_aksess_logo.png") center center no-repeat;
    line-height: 28px;
    padding-left: 31px;
}
#TopMenu a {
    line-height: 28px;
    margin-right: 15px;
}

#TopMenu a.menuitem { color: #cccccc; font-size: 12px; }
#TopMenu a.menuitem:hover { color: #ffffff; }
#TopMenu a.menuitem.selected { color: #ffffff; font-weight: bold; }
#TopMenu a.menuitem.logout { background: url("../bitmaps/default/framework/top_nav_icon_logout.png") left center no-repeat; padding-left: 20px; float: right;}
#TopMenu a.menuitem.help { background: url("../bitmaps/default/framework/top_nav_icon_help.png") left center no-repeat; padding-left: 20px; float: right;}

/************** Modes menu **************/
#ModesMenu {
    color: #dddddd;
}

#ModesMenu .search input[type=text]{
    width: 200px;
    height: 26px;
    border: none;
    color: #dddddd;
    font-size: 11px;
    padding-top: 11px;
    padding-left: 25px;
    background: url("../bitmaps/default/framework/search_inputfield.png") center left no-repeat;
    float: left;
}
#ModesMenu .search input[type=submit]{
    height: 37px;
    width: 61px;
    border: none;
    color: #dddddd;
    font-size: 1em;
    background: url("../bitmaps/default/framework/search_btnicon.png") center left no-repeat;
    float: left;
}

#ModesMenu .buttonGroup {
    font-size: 0;/*Collapses all whitespace between buttons. Enables buttons to be defined on separate lines in the html.*/
    margin-right: 10px;
    float: left;
}

#ModesMenu .buttonGroup .button {
    font-size: 11px;
    color: #ffffff;
    display: inline-block;
    height: 37px;
    line-height: 37px;
    padding: 0 10px;
    background: url("../bitmaps/default/framework/modus_btn_center.png") center center repeat-x;
}

#ModesMenu .buttonGroup .button.active {
    background: url("../bitmaps/default/framework/modus_btn_center_active.png") center center repeat-x;
}

#ModesMenu .buttonGroup .button:first-child {
    background: url("../bitmaps/default/framework/modus_btn_left.png") left center no-repeat
}
#ModesMenu .buttonGroup .button.active:first-child {
    background: url("../bitmaps/default/framework/modus_btn_left_active.png") left center no-repeat
}
#ModesMenu .buttonGroup .button:last-child {
    background: url("../bitmaps/default/framework/modus_btn_right.png") right center no-repeat
}
#ModesMenu .buttonGroup .button.active:last-child {
    background: url("../bitmaps/default/framework/modus_btn_right_active.png") right center no-repeat
}
#ModesMenu .buttonGroup .buttonSeparator {
    padding-left: 1px;
    background: url("../bitmaps/default/framework/modus_btn_separator.png") left center no-repeat;
}

#ModesMenu .button span {
    padding-left: 20px;
    line-height: 37px;
    display: block;
    height: 37px;
    background-position: left center;
    background-repeat: no-repeat;
}


/************** Tools menu **************/
#ToolsMenu .buttonGroup {
    display: inline;
}
#ToolsMenu .button {
    line-height: 25px;
    display: inline-block;
    height: 25px;
    background: url("../bitmaps/default/framework/tools_btn_separator.png") right center no-repeat;
}
#ToolsMenu .button span {
    display: inline-block;
    padding-left: 30px;
    padding-right:10px;
    line-height: 25px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}
#ToolsMenu .button.disabled span {
    color: #999;
    cursor: default;
}

#TabToolsMenu .tabGroup {
    display: inline;
}

#TabToolsMenu .active {
    margin-right: 3px;
    background-image: url("../bitmaps/default/framework/toolstab_active.png");
}

#TabToolsMenu .active span {
    background: url("../bitmaps/default/framework/toolstab_active_right.png") no-repeat right;
}

#TabToolsMenu .tab span {
    display: inline-block;
    line-height: 26px;
}

#TabToolsMenu .tab span span {
    display: inline-block;
    padding-left: 30px;
    padding-right:10px;
    line-height: 26px;
    background-position: 10px 50%;
    background-repeat: no-repeat;
}

#TabToolsMenu .tab {
    line-height: 26px;
    display: inline-block;
    height: 26px;
}

#TabToolsMenu .tab .content {
    background-image: url("../bitmaps/common/icons/small/content.png");
}
#TabToolsMenu .tab .metadata{
    background-image: url("../bitmaps/common/icons/small/metadata.png");
}
#TabToolsMenu .tab .versions{
    background-image: url("../bitmaps/common/icons/small/delete.png");
}
#TabToolsMenu .tab .attachments {
    background-image: url("../bitmaps/common/icons/small/copy.png");
}

/************** Buttons ************/
#EditContentButtons input.publish {
    margin-left: 10px;
    background: url("../bitmaps/common/icons/large/publish.png") no-repeat center left;
}

#EditContentButtons input.cancel {
    background: url("../bitmaps/common/icons/large/cancel.png") no-repeat center left;
}

#EditContentButtons input.save {
    margin-left: 10px;
    background: url("../bitmaps/common/icons/large/save.png") no-repeat center left;
}

#EditContentButtons input.approve {
    margin-left: 10px;
    background: url("../bitmaps/common/icons/large/save.png") no-repeat center left;
}

#EditContentButtons input.reject {
    margin-left: 10px;
    background: url("../bitmaps/common/icons/large/cancel.png") no-repeat center left;
}

#EditContentButtons input.savedraft {
    background: url("../bitmaps/common/icons/large/savedraft.png") no-repeat center left;
}


/************** Buttons **************/
#Content .buttonBar {
    padding-top: 5px;
    height: 41px;
    line-height: 41px;
    background: url("../bitmaps/default/framework/buttonbar_background.png") repeat-x;
}

#Content .buttonBar .barButton {
    margin-right: 10px;
    background: url("../bitmaps/default/framework/buttonbar_background_seperator.png") no-repeat;
}
#Content .buttonBar .barButton > .disabled {
    cursor: default;
}
#Content .buttonBar input {
    padding-left: 24px;
    line-height: 26px;
    height: 26px;
    border: 0;
    cursor: pointer;
}

#Content .buttonGroup {
    padding-top: 10px;
}

#Content .button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #bbbbbb;
    background: url("../bitmaps/common/button.png") repeat-x;
    padding-right: 5px;
    padding-left: 5px;
}

#Content .button:hover {
    border: 1px solid #3ed7fd;
}


#Content .button input {
    background-color: transparent;
    display: inline-block;
    padding-left: 5px;
    padding-right:5px;
    line-height: 20px;
    height: 20px;
    border: 0;
}

#Content .button input[class] {
    display: inline-block;
    padding-left: 30px;
    padding-right:5px;
    background-position: 5px 50%;
    background-repeat: no-repeat;
    border: 0;
}


#Content .button span {
    background-color: transparent;
    display: inline-block;
    padding-left: 30px;
    padding-right:5px;
    line-height: 20px;
    background-position: 5px 50%;
    background-repeat: no-repeat;
}


.button .add {
    background-image: url("../bitmaps/common/icons/small/add.png");
}
.button .back {
    background-image: url("../bitmaps/common/icons/small/back.png");
}
.button .cancel {
    background-image: url("../bitmaps/common/icons/small/cancel.png");
}
.button .choose {
    background-image: url("../bitmaps/common/icons/small/select.png");
}
.button .copy {
    background-image: url("../bitmaps/common/icons/small/copy.png");
}
.button .crop {
    background-image: url("../bitmaps/common/icons/small/crop.png");
}
.button .cut {
    background-image: url("../bitmaps/common/icons/small/copy.png");
}
.button .delete{
    background-image: url("../bitmaps/common/icons/small/delete.png");
}
.button .displayPeriod {
    background-image: url("../bitmaps/common/icons/small/calendar.png");
}
.button .edit{
    background-image: url("../bitmaps/common/icons/small/edit.png");
}
.button .imagemap {
    background-image: url("../bitmaps/common/icons/small/imagemap.png");
}
.button .linkcheck {
    background: url("../bitmaps/common/icons/small/linkcheck.png");
}
.button .moveUp {
    background-image: url("../bitmaps/common/icons/small/moveup.png");
}
.button .moveDown {
    background-image: url("../bitmaps/common/icons/small/movedown.png");
}
.button .newfile {
    background-image: url("../bitmaps/common/icons/small/newfile.png");
}
.button .newfolder {
    background-image: url("../bitmaps/common/icons/small/newfolder.png");
}
.button .newSubpage {
    background-image: url("../bitmaps/common/icons/small/newsubpage.png");
}
.button .ok{
    background-image: url("../bitmaps/common/icons/small/ok.png");
}
.button .organize {
    background: url("../bitmaps/common/icons/small/organize.png");
}
.button .paste {
    background-image: url("../bitmaps/common/icons/small/paste.png");
}
.button .privileges {
    background-image: url("../bitmaps/common/icons/small/privileges.png");
}
.button .remove{
    background-image: url("../bitmaps/common/icons/small/remove.png");
}
.button .reset{
    background-image: url("../bitmaps/common/icons/small/reset.png");
}
.button .search {
    background-image: url("../bitmaps/common/icons/small/search.png");
}
.button .select{
    background-image: url("../bitmaps/common/icons/small/select.png");
}
.button .settings {
    background-image: url("../bitmaps/common/icons/small/settings.png");
}
.button .statistics {
    background: url("../bitmaps/common/icons/small/statistics.png");
}

.button .view {
    background: url("../bitmaps/common/icons/small/navigate.png");
}

/************** Form elements and content attributes **************/

.contentAttribute, .formElement {
    margin-bottom: 14px;
}

.contentAttribute .heading, .formElement .heading {
    font-weight: bold;
    float: left;
}

#Content .contentAttribute .buttonGroup, .formElement .buttonGroup {
    padding-top: 2px;
    text-align: right;
    margin-left: 15px;
}

.contentAttribute .inputs, .formElement .inputs, .contentAttribute .content, .formElement .content {
    clear: both;
}

.inline .formElement .inputs {
    line-height: 24px;
    clear:none;
}

.inline .formElement div.heading {
    width: 100px;
}

.fullWidth {
    width: 100%;
}

#Content td .button, #Content td .button:hover {
    background: transparent;
    border: 0;    
}


/************** Boxes **************/
div.roundCorners {
    /*padding-bottom: 20px;*/
    max-width: 650px;
}

div.roundCorners div.top {
    background: url("../bitmaps/default/boxes/grouptopleft.png") no-repeat top left;
    height: 17px;
    position: relative;
}

div.roundCorners div.top div.corner {
    background: url("../bitmaps/default/boxes/grouptopright.png") no-repeat top right;
    width: 5px;
    height: 17px;
    position: absolute;
    right: 0;
}

div.roundCorners div.bottom {
    background: url("../bitmaps/default/boxes/groupbottomleft.png") no-repeat top left;
    height: 5px;
    position: relative;
}

div.roundCorners div.bottom div.corner {
    background: url("../bitmaps/default/boxes/groupbottomright.png") no-repeat top right;
    width: 5px;
    height: 5px;
    position: absolute;
    right: 0;
}

div.roundCorners div.body {
    background: url("../bitmaps/default/boxes/groupleft.png") repeat-y left;
}

div.roundCorners div.body div.right {
    margin-left: 5px;
    padding: 5px 15px 5px 15px;
    background: #ffffff url("../bitmaps/default/boxes/groupright.png") repeat-y right;
}

div.fieldset fieldset {
    border: 0;
    padding: 0;
}
div.fieldset fieldset .row {
    margin-bottom: 0.5em;
}
div.fieldset h1, div.fieldset h2 {
    padding: 0 0 3px 0;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #dbdbdb;
}

div.fieldset>h1, div.fieldset>h2 {
    margin: -5px -10px 10px -15px;
}


div.sidebarFieldset {
    background: #f7f7f7 url("../bitmaps/default/framework/rightbox_background.jpg") repeat-x;
    border-bottom: 1px solid #999999;
}

div.sidebarFieldset fieldset {
    border: 0;
    padding: 10px;
}
div.sidebarFieldset fieldset legend {
    margin-top: 1em;
    font-weight: bold;
}
/************** Popups **************/
.dialogue .tabGroup .tab {
    background-color: #00cc00;
}

.dialogue .tabGroup .selected {
    background-color: #cccccc;
}


.dialogue .buttonGroup .button {
    background-color: #ff0000;
}

.formElement .buttonGroup .button {
    background-color: #ffffff;
}

/************** Information slider **************/
.infoslider {
    display: none;
    width: 100%;
    background: #ffffff url("../bitmaps/default/framework/infoslider_bottom.png") bottom left repeat-x;
    position: relative;
    z-index: 100;
    left: 0;
    padding-bottom: 20px;
}
.infoslider .ui-resizable-s {
    height: 11px;
    bottom: 0;
    background: url("../bitmaps/default/framework/infoslider_drag.png") center center no-repeat;
}
.infoslider .close {
    position: absolute;
    height: 14px;
    bottom: 5px;
    right: 0;
    cursor: pointer;
    padding: 0 5px;
    background: url("../bitmaps/default/framework/infoslider_close.png") left bottom no-repeat;
}
.infoslider .close span {
    font-size: 10px;
    line-height: 15px;
    padding-right: 10px;
    background: url("../bitmaps/default/framework/infoslider_close_icon.png") right center no-repeat;
}
.infoslider .label {
    font-weight: bold;
}

.infoslider table {
    width: 100%;
}
.infoslider table th, .infoslider table td {
    padding: 0 1em;
    width: 18%;
}
.infoslider .breadcrumbs {
    margin-left: 10px;
}

.infoslider fieldset {
    border: 0;
    padding: 0;
    padding-top: 4px;
    margin-left: 5px;
    margin-right: 5px;
}
.infoslider  legend {
    font-weight: bold;
}
.infoslider  legend a {
    color:#1780B9;
    font-weight: normal;
}

.infoslider .slidercontent {
    padding-left: 40px;
    padding-top: 0.5em;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

/* Info slider types */
.infoslider.details .slidercontent {
    background-image: url("../bitmaps/common/icons/large/details.png");
}
.infoslider.associations .slidercontent {
    background-image: url("../bitmaps/common/icons/large/details.png");
}
.infoslider.associations ul.breadcrumbs {
    margin-bottom: 0.5em;
}
.infoslider.associations ul.breadcrumbs li:first-child {
    background: url(../bitmaps/common/icons/small/site_small.png) left center no-repeat;
    padding-left: 12px;
}
.infoslider.brokenlinks .slidercontent {
    background-image: url("../bitmaps/common/icons/large/details.png");
}
.infoslider.search .slidercontent {
    padding-left: 0;
}
.infoslider.filters .slidercontent {
    padding-left: 0;
}
/************** Search results **************/
#ModesMenu .buttonGroup.search {
    float: right;
    position: relative;
}
#SearchResults {
    width: 100%;
    background: #ffffff url("../bitmaps/default/framework/contentstatus_background.png") top left repeat-x;
    display: none;
    border-bottom: 1px solid #999999;
}

#SearchResults iframe {
    width: 100%;
    height: 100%;
    border:0;
}

#MainPaneContent {
    overflow: auto;    
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 670px;
}

/************** Organize subpages **************/
#SubPages ul {
    margin: 0 0 2em;
}
#SubPages ul .ui-selected {
    background: #cccccc;
}

#SubPages li {
    list-style: none;
    height: 17px;
    border-bottom: 1px solid #cccccc;
}

#SubPages li.menu {
    color: #cccccc;
}

#SubPages li.menu .name{
    font-weight: bold;
    color: #000000;
}

#SubPages li.page {
    cursor: pointer;
}
#SubPages li.page.selected {
    background: url("../bitmaps/default/framework/organizesubpages_selected.png") repeat-x center left;
    color: #ffffff;
    cursor: n-resize;
}
#SubPages li.ui-sortable-helper { /* Item while dragging */
    border-top: 1px solid #cccccc;
    background: #eeeeee; /* TODO: replace with proper styling */
}

#SubPages li span {
    display: inline-block;
    width: 18%;
    line-height: 17px;
}

#SubPages li .name {
    padding-left: 2em;
    width: 26%;
}
#SubPages li .views {
    text-align: right;
    width: 10%;
}

#SubPages li .contentStatus .description {
    padding-left: 18px;
    width: auto;
}
#SubPages li .contentStatus .status0 {}
#SubPages li .contentStatus .status5 {}
#SubPages li .contentStatus .status10 {}
#SubPages li .contentStatus .status20 {}
#SubPages li .contentStatus .status25 {}
#SubPages li .contentStatus .status30 {}
#SubPages li .contentStatus .status30_0 {
    background: url("../bitmaps/common/icons/small/contentstatus_published_posponed.png") left center no-repeat;
}
#SubPages li .contentStatus .status30_10 {
    background: url("../bitmaps/common/icons/small/contentstatus_published.png") left center no-repeat;
}
#SubPages li .contentStatus .status30_15 {
    background: url("../bitmaps/common/icons/small/contentstatus_expired.png") left center no-repeat;
}
#SubPages li .contentStatus .status30_20 {
    background: url("../bitmaps/common/icons/small/contentstatus_expired.png") left center no-repeat;
}
#SubPages li .contentStatus .status40 {}


/************** jQuery UI adaptions **************/
#ui-datepicker-div {
    display: none;
}
.ui-datepicker-trigger {
    padding-top: 2px;
    margin-left: 3px;
    vertical-align: top;
}

/************** Statistics **************/
th.no {
    width: 30px;
}

th.views {
    width: 100px;
}

th.percent {
    width: 50px;
}

/************ Data tables ***************/

div.dataTables_info {
    color: #000000;
    padding-left: 10px;
    float: left;
}

div.dataTables_paginate {
    float: right;
    padding-right: 10px;
}

.paginate_disabled_previous,
.paginate_enabled_previous,
.paginate_disabled_next,
.paginate_enabled_next
{
    float: left;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
}

.paginate_disabled_previous {
    background-image: url("../bitmaps/common/icons/small/moveup.png");
}


.paginate_enabled_previous {
    background-image: url("../bitmaps/common/icons/small/moveup.png");
}

.paginate_disabled_next {
    background-image: url("../bitmaps/common/icons/small/movedown.png");

}

.paginate_enabled_next {
    background-image: url("../bitmaps/common/icons/small/movedown.png");
}


/************ Tabs ***************/
#MainPaneContent .tabGroup {
    display: inline;
}

#MainPaneContent .active {
    margin-right: 3px;
    background-color: #eeeeee;
}

#MainPaneContent .tab {
    line-height: 26px;
    display: inline-block;
    height: 26px;
}
