
#EditContentForm .contentAttribute {
    margin-bottom: 1em;
}

#EditContentForm .contentAttribute .heading {
    font-weight: bold;
}

#EditContentForm .contentAttribute .buttonGroup, .formElement .buttonGroup {
    margin-left:15px;
    padding-top:2px;
    text-align:right;
    clear:left;
}
#EditContentForm .button {
    color: #000;
    font-size: 11px;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #bbbbbb;
    background: url("../bitmaps/common/button.png") repeat-x;
    padding-right: 5px;
    padding-left: 5px;
}

#EditContentForm .button:hover {
    border: 1px solid #3ed7fd;
    text-decoration: none;
}


#EditContentForm .button input {
    background-color: transparent;
    display: inline-block;
    padding-left: 5px;
    padding-right:5px;
    line-height: 20px;
    height: 20px;
    border: 0;
}

#EditContentForm .button input[class] {
    display: inline-block;
    padding-left: 30px;
    padding-right:5px;
    background-position: 5px 50%;
    background-repeat: no-repeat;
    border: 0;
}

#EditContentForm .button span {
    background-color: transparent;
    display: inline-block;
    padding-left: 30px;
    padding-right:5px;
    line-height: 20px;
    background-position: 5px 50%;
    background-repeat: no-repeat;
}


#EditContentForm .button .add {
    background-image: url("../bitmaps/common/icons/small/add.png");
}
#EditContentForm .button .back {
    background-image: url("../bitmaps/common/icons/small/back.png");
}
#EditContentForm .button .cancel {
    background-image: url("../bitmaps/common/icons/small/cancel.png");
}
#EditContentForm .button .choose {
    background-image: url("../bitmaps/common/icons/small/select.png");
}
#EditContentForm .button .copy {
    background-image: url("../bitmaps/common/icons/small/copy.png");
}
#EditContentForm .button .crop {
    background-image: url("../bitmaps/common/icons/small/crop.png");
}
#EditContentForm .button .cut {
    background-image: url("../bitmaps/common/icons/small/copy.png");
}
#EditContentForm .button .delete{
    background-image: url("../bitmaps/common/icons/small/delete.png");
}
#EditContentForm .button .displayPeriod {
    background-image: url("../bitmaps/common/icons/small/calendar.png");
}
#EditContentForm .button .edit{
    background-image: url("../bitmaps/common/icons/small/edit.png");
}
#EditContentForm .button .imagemap {
    background-image: url("../bitmaps/common/icons/small/imagemap.png");
}
#EditContentForm .button .linkcheck {
    background: url("../bitmaps/common/icons/small/linkcheck.png");
}
#EditContentForm .button .moveUp {
    background-image: url("../bitmaps/common/icons/small/moveup.png");
}
#EditContentForm .button .moveDown {
    background-image: url("../bitmaps/common/icons/small/movedown.png");
}
#EditContentForm .button .newfile {
    background-image: url("../bitmaps/common/icons/small/newfile.png");
}
#EditContentForm .button .newfolder {
    background-image: url("../bitmaps/common/icons/small/newfolder.png");
}
#EditContentForm .button .newSubpage {
    background-image: url("../bitmaps/common/icons/small/newsubpage.png");
}
#EditContentForm .button .ok{
    background-image: url("../bitmaps/common/icons/small/ok.png");
}

#EditContentForm .button .notes {
    background: url("../bitmaps/common/icons/small/notes.png");
}

#EditContentForm .button .organize {
    background: url("../bitmaps/common/icons/small/organize.png");
}
#EditContentForm .button .paste {
    background-image: url("../bitmaps/common/icons/small/paste.png");
}
#EditContentForm .button .privileges {
    background-image: url("../bitmaps/common/icons/small/privileges.png");
}
#EditContentForm .button .remove{
    background-image: url("../bitmaps/common/icons/small/remove.png");
}
#EditContentForm .button .reset{
    background-image: url("../bitmaps/common/icons/small/reset.png");
}
#EditContentForm .button .search {
    background-image: url("../bitmaps/common/icons/small/search.png");
}
#EditContentForm .button .select{
    background-image: url("../bitmaps/common/icons/small/select.png");
}
#EditContentForm .button .settings {
    background-image: url("../bitmaps/common/icons/small/settings.png");
}
#EditContentForm .button .statistics {
    background: url("../bitmaps/common/icons/small/statistics.png");
}

#EditContentForm .button .view {
    background: url("../bitmaps/common/icons/small/navigate.png");
}