

#MultimediaFolders {
    background: #767676;
    padding: 20px;/*Important: Must be a px value.*/
}

#MultimediaFolders .folder, #MultimediaFolders .media {
    background-color: #ffccff;
    padding: 10px;
    width: 250px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}


.folder .icon, .media .icon {
    float: left;
    width: 102px;
    height: 102px;
}

.folder .icon {
    background: url("../bitmaps/common/mm/icon_folder.png") no-repeat top left;
}

.folder .mediaInfo, .media .mediaInfo {
    color: #ffffff;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 12px;
    padding-bottom: 8px;
    float: left;
}

.mediaInfo .name {
    font-weight: bold;
    padding-bottom: 14px;
}
