/************** Layout **************/
#Navigation {
    position: relative;
    float: left;
    width: 190px;
    padding-right: 10px;/*Framesplit.width*/
    background: #ffffff;
}
#Navigation .infoslider {
    position: relative;
}
body.popup #Navigation{
    width:90%;
}
#Navigator {
    overflow: auto;
    padding-top: 5px;
}
body.popup #Navigator{
    position: relative;
    width:100%;
    height:380px;
    background:#fff;
}

.framesplit.navigate{
    position: absolute;
    top: 0;
    right: 0;
    background: #A0A0A0 url("../bitmaps/sprite-repeat-y.png") repeat-y 0 0;
}

/* Frame resize handle */
.ui-resizable-handle.ui-resizable-e {
    position: absolute;
    height: 17px;
    width: 10px;
    right: 0;
    top: 50%;
    cursor: e-resize;
    background: transparent url("../bitmaps/sprite-common.png") no-repeat -250px 0;
}


#MainPane iframe {
    border: none;
}

/************** Content frame (right column) **************/
#MainPane #Statusbar {
    height: 2em;
    line-height: 2em;
    background: #ffffff url("../bitmaps/sprite-repeat-x.png") repeat-x 0 -80px;
    border-bottom: 1px solid #cccccc;
    padding: 0 10px;
    position: relative;
    overflow: hidden;/* Prevents the bar contents from wrapping */
}

#MainPane .supportMenu a {
    display: none;
    float: left;
    height: 22px;
    padding-left: 20px;
    margin-left: 20px;
}
#MainPane .supportMenu a.brokenLink {
    background: url("../bitmaps/common/icons/small/brokenlink.png") left center no-repeat;
}
#MainPane .supportMenu a.crossPublish {
    background: url("../bitmaps/common/icons/small/crosspublish.png") left center no-repeat;
}
#MainPane .supportMenu a.details {
    background: transparent url(../bitmaps/sprite-common.png) no-repeat scroll 0 -897px;
}

#NavigateContentHints {
    margin: 0;
    display: none;
}

/************** Navigation (left column) **************/
#Filteroptions {
    background: #ffffff url("../bitmaps/sprite-repeat-x.png") repeat-x 0 -80px;
    border-bottom: 1px solid #cccccc;
    height: 2em;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
}
#Filteroptions .hideexpired {
    display: inline;
    line-height:22px;
}
#Filteroptions .hideexpired input[type=checkbox] {
    vertical-align: -15%;
}
#Filteroptions .hideexpired label {
    cursor: pointer;
}
#Filteroptions .filtersToggle {
    background: url("../bitmaps/sprite-common.png") no-repeat -159px -1225px;
    padding-left: 15px;
    margin: 0 5px;
}

/************** Breadcrumbs **************/
ul.breadcrumbs {
    float: left;
    clear: both;
    margin: 0;
    padding: 0;
}
ul.breadcrumbs li {
    display: inline;
    background: url("../bitmaps/sprite-common.png") no-repeat 0 -1539px;
    padding-left: 10px;
    padding-right: 3px;
}
ul.breadcrumbs li:first-child {
    background: url("../bitmaps/sprite-common.png") no-repeat -159px -1459px;
    padding-left: 18px;
}

/************** Navigator **************/
.navigator {
    margin: 0 0 0 0.25em;
}
.navigator li{
    list-style: none;
    margin-top: 0.25em;
    white-space: nowrap;
}
.navigator li li {
    margin-left: 1em;
}

.navigator li span {

}

.navigator .openState {
    margin-right: 2px;
}

.navigator .openState a, .navigator .openState span {
    display: inline-block;
    position: relative;
    top: 1px;
    width: 9px;
    height: 9px;
    background-position: center center;
    background-repeat: no-repeat;
}
.navigator .openState a.open {
    background: url("../bitmaps/sprite-common.png") no-repeat -159px -85px;
}
.navigator .openState a.closed {
    background: url("../bitmaps/sprite-common.png") no-repeat -159px -46px;
}
.navigator .openState span.noChildren {
    background-image: none;
}

.navigator .icon {
}
.navigator.orgunit .icon {
    display: none;
}
.navigator .icon a {
    display: inline-block;
    position: relative;
    top: 4px;
    width: 13px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
}

.navigator .icon .expired {
    background: url("../bitmaps/sprite-common.png") no-repeat 0 -1033px;
}
.navigator .icon .file {
    background: url("../bitmaps/sprite-common.png") no-repeat 0 -1078px;
}
.navigator .icon .file-draft {
    background: url("../bitmaps/sprite-common.png") no-repeat 0 -1123px;
}
.navigator .icon .folder {
    background: url("../bitmaps/sprite-common.png") no-repeat 1px -1167px;
}
.navigator .icon .media {
    background: url("../bitmaps/sprite-common.png") no-repeat 0 -1210px;
}
.navigator .icon .orgunit {
    background: url("../bitmaps/sprite-common.png") no-repeat 1px -1167px;
}
.navigator .icon .link {
    background: url("../bitmaps/sprite-common.png") no-repeat 0 -1406px;
}
.navigator .icon .link-draft {
    background: url("../bitmaps/sprite-common.png") no-repeat 0 -1451px;
}
.navigator .icon .page {
    background: url("../bitmaps/sprite-common.png") no-repeat -159px -484px;
}
.navigator .icon .page-draft {
    background: url("../bitmaps/sprite-common.png") no-repeat -159px -529px;
}
.navigator .icon .root{
    width: 14px;
    height: 14px;
    top: 3px;
    background: url("../bitmaps/sprite-common.png") no-repeat -159px -865px;
}
.navigator .icon .shortcut {
    background-image: url("../bitmaps/common/navigator/shortcut.png");
/*    background: url("../bitmaps/sprite-common.png") no-repeat 0 0;*/
}
.navigator .icon .waiting{
    background-image: url("../bitmaps/common/navigator/waiting.png");
/*    background: url("../bitmaps/sprite-common.png") no-repeat 0 0;*/
}

.navigator .notes a {
    display: inline-block;
    position: relative;
    top: 4px;
    width: 13px;
    height: 15px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../bitmaps/common/navigator/note.gif");
}


.navigator .title {
}

.navigator .title a {
    padding: 2px;
    text-decoration: none;
}

.navigator .title a:hover {
    background: #dddddd;
}

.navigator .title a.selected {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    background: #5cb6e1 url("../bitmaps/sprite-repeat-x.png") repeat-x 0 -504px;
}

/* Generic context menu styles */
.contextMenu {
    position: absolute;
    width: 130px;
    z-index: 99999;
    border: solid 1px #cccccc;
    background: #ffffff;
    padding: 0;
    margin: 0;
    display: none;
}

.contextMenu li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contextMenu a {
    color: #000;
    text-decoration: none;
    display: block;
    line-height: 20px;
    outline: none;
    padding: 1px 5px;
}

.contextMenu li:hover a {
    color: #ffffff;
    background-color: #3399ff;
}

.contextMenu li.disabled a {
    color: #aaaaaa;
    cursor: default;
}

.contextMenu li.disabled:hover a {
    background-color: transparent;
}

.contextMenu li.separator {
    border-top: solid 1px #cccccc;
}