html, body {
    overflow: hidden;
}

/************** Edit content **************/
#EditContentMain {
    overflow: auto;
}

#EditContentPane {
    margin: 10px;
    width: 600px;
}


#PropertiesPane label {
    display: inline;
}

#EditContentTabs {
    height: 21px;
    float:left;
}

#EditContentTabs .tab {
    margin-left: 30px;
    float:left;
}

#EditContentTabs .tab span {
    background-color: #ff0000;
    display: inline-block;
    padding-left: 30px;
    padding-right:10px;
    line-height: 25px;
    background-repeat: no-repeat;
    background-position: 0 50%;
}

#EditContentTabs .tab span.content {
    background-image: url("../bitmaps/common/icons/small/content.png");
}

#EditContentTabs .tab span.metadata {
    background-image: url("../bitmaps/common/icons/small/metadata.png");
}

#TopicList .topic {
    border: 1px solid #30d3fc;
    background-color: #c0e5f7;
    padding: 5px;
    float: left;
    clear: left;
    margin-bottom: 5px;
}

#TopicList .topic .topicname {
    float: left;
}

#TopicList .topic .buttonGroup {
    margin-left: 5px;
    float: left;
    padding: 0;
}


#TopicList .topic a.delete {
    display: block;
    width: 15px;
    height: 15px;
    background-color: #000000;
}

#ChooseTopicButton {
    clear: left;
}
