body {
    background-color: #ffffff;
}
div.search .searchicon {
    background: transparent url(../bitmaps/sprite-common.png) no-repeat scroll -149px -1069px;
    position: absolute;
    height: 35px;
    width: 35px;
    left:0;
    top:0;
}
#SearchResult {
    float: left;
    padding: 1em 1em 1em 30px;
}

#SearchDrilldown {
    padding-top: 40px;
    padding-left: 10px;
    float: left;
}

.hit {
    margin-top: 1em;
}
.hit a {
    color: #3398CC;
    font-weight: bold;
}

.hitCount {
    font-weight: bold;
}

.paging {
    margin-top: 1.5em;
}

.pagenumbers {
    display: inline-block;
}

.highlight {
    background-color: #fcec5a;
}


