body {
    background: #ffffff url("../bitmaps/common/icons/large/search.png") 10px 10px no-repeat;
}
#SearchResult {
    float: left;
    padding: 1em 1em 1em 30px;
}

#SearchDrilldown {
    padding-top: 40px;
    padding-left: 10px;
    float: left;
}

.hit {
    margin-top: 1em;
}
.hit a {
    color: #3398CC;
    font-weight: bold;
}

.hitCount {
    font-weight: bold;
}

.paging {
    margin-top: 1.5em;
}

.pagenumbers {
    display: inline-block;
}

.highlight {
    background-color: #fcec5a;
}


