body {
    background: #ffffff url("../bitmaps/common/icons/large/search.png") 10px 10px no-repeat;
}
#SearchResult {
    padding: 1em;
    padding-left: 40px;
}
.hit {
    margin-top: 1em;
}
.hit a {
    color: #3398CC;
    font-weight: bold;
}

.hitCount {
    font-weight: bold;
}

.paging {
    margin-top: 1.5em;
}

.pagenumbers {
    display: inline-block;
}