body {
    /*background: #FEFEFE url(../bitmaps/default/framework/search_background.png) repeat-x scroll left top;*/
    background: #ffffff;
}
#SearchResult {
    
    padding: 1em;
}
.hit {
    margin-top: 1em;
}
.hit a {
    font-weight: bold;
}

.hitCount {
    font-weight: bold;
}

.paging {
    margin-top: 1.5em;
}

.pagenumbers {
    display: inline-block;
}