<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2009 Kantega AS
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <context:annotation-config/>

    <task:executor id="executorWithCallerRunsPolicy"
                   pool-size="5-10"
                   queue-capacity="100"
                   rejection-policy="CALLER_RUNS"/>
    <task:annotation-driven executor="executorWithCallerRunsPolicy" mode="proxy" />
    <aop:aspectj-autoproxy/>

    <import resource="application-jobs.xml"/>
    <import resource="application-datasources.xml"/>
    <import resource="application-core.xml"/>
    <import resource="application-web.xml"/>
    <import resource="application-security.xml"/>
    <import resource="application-event.xml"/>
    <import resource="application-editableforms.xml"/>
    <import resource="classpath*:META-INF/applicationContext-search.xml"/>

    <bean class="no.kantega.publishing.spring.ConditionalResourceImporter">
        <property name="propertyName" value="server.type"/>
        <property name="propertyValue" value="SLAVE"/>
        <property name="resourceLocation" value="/WEB-INF/application-slave.xml"/>
    </bean>

    <bean class="no.kantega.publishing.spring.ConditionalResourceImporter">
        <property name="propertyName" value="server.type"/>
        <property name="propertyValue" value="MASTER"/>
        <property name="resourceLocation" value="/WEB-INF/application-master.xml"/>
    </bean>

    <bean class="no.kantega.publishing.spring.PropertyReplacer"/>
    <bean class="no.kantega.publishing.spring.RootContext"/>

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcacheCacheManager"/>
    </bean>

    <bean id="ehcacheCacheManager" class="no.kantega.publishing.cache.CacheManagerFactory" destroy-method="destroy"/>

    <beans profile="useCaching">
        <cache:annotation-driven mode="proxy" cache-manager="cacheManager" />
    </beans>
</beans>