#section("content")
#box()
<h1>Groovy console authorization</h1>

<p>
    Please provide the security token as found in <code>${appDir}/security/groovy.txt</code>
</p>

<form method="post" id="groovyform" action="groovyauth.action">
    <textarea style="width:600px;height:50px" name="token"></textarea>
    <br/>
    <input type="submit" value="Submit"/>
</form>


#end
#end

#applyAdminLayout()