<html>
<body>
<p>Endringene du gjorde på siden
<a href="$contenturl">$title</a> har blitt avvist av en redakt&oslash;r.</p>
<p>
Melding fra redakt&oslash;ren: $note
</p>
<p>
Denne eposten er automatisk generert av Aksess Publisering. Kontakt $editor ved sp&oslash;rsm&aring;l.
</p>
</body>
</html>