<html>
<body>
<p>Kvittering p&aring; innsendt skjema: $form.form.title:</p>
<table>
    <thead>
        <tr>
            <th>Felt</th>
            <th>Verdi</th>
        </tr>
    </thead>
    <tbody>
    #foreach ($value in $form.values)
        <tr>
            <td>$value.name</td>
            <td>$value.valuesAsEscapedString</td>
        </tr>
    #end
    </tbody>
</table>
</body>
</html>