<html>
<body>
<p>Hei ${profile.name}!</p>

<p>Du har bedt om &aring; f&aring; sette ett nytt passord p&aring; brukeren din.</p>

<p>Klikk p&aring; lenken nedenfor for &aring; sette ett nytt passord:</p>

<p><a href="${url}">${url}</a></p>

<p>Lenken for &aring; endre passord er gyldig frem til $date.format('dd.MM.yyyy HH:mm', $expireDate)</p>

<p>Dersom du ikke har &oslash;nsker &aring; sette ett nytt passord kan du bare ignorere denne eposten.</p>
</body>
</html>