body {
    background: #F7F7F7 url(../bitmaps/sprite-repeat-y.png) repeat-y scroll -120px 0;
}

#Navigation {
    position: relative;
    float: left;
    width: 190px;
    padding-left: 10px;
    padding-top: 30px;
}

#PropertiesTable .property {
    width: 400px;
    max-width: 400px;
    overflow:hidden;
}
#PropertiesTable .parameter {
    width: 200px;
    max-width: 200px;
    overflow:hidden;
}

#MainPane {
    overflow: visible;
    max-width: 85%;
}

.navigator {
    margin: 0 0 0 0.25em;
}
.navigator li{
    list-style: none;
    margin-top: 0.25em;
    white-space: nowrap;
}
.navigator li li {
    margin-left: 1em;
}

.navigator .title a {
    padding:2px;
    text-decoration:none;
}

.navigator .title a.selected {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    background: #5cb6e1 url("../bitmaps/sprite-repeat-x.png") repeat-x 0 -504px;
}

table th.date {
    width: 100px;
}

.showinadmin {
    width: 15%;
}

#statusFilter label {
    display: inline-block;
}

dl.inline-dl dd {
    display: inline;
    margin: 0;
}
dl.inline-dl dd:after{
    display: block;
    content: '';
}
dl.inline-dl dt{
    display: inline-block;
}