body {
    margin: 20px;
}

body, p, td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

body {
    background-color: #eeeeed;
}


label {
    font-weight: bold;
}

.error {
    border: 1px solid #000000;
    padding: 4px;
    color: #000000;
    background-color: #FFFFE1;
}

.inpHeading {
    background-color: #eeeeed;
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.box {
    background-color: #ffffff;
    padding:8px;
}

input {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    width: 200px;
}

.frame {
    background-color: #b5b5b5;
}

.shadow {
    background-color: #d2d2d2;
}

