<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2009 Kantega AS
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<web-app>
    <display-name>Aksess</display-name>
    <description>Kantega Aksess Publisering for Java</description>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>

    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>no.kantega.publishing.security.filter.AdminFilter</filter-class>
    </filter>

    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>no.kantega.publishing.client.filter.ContentRewriteFilter</filter-class>
    </filter>

    <filter>
        <filter-name>MultipartFilter</filter-name>
        <filter-class>no.kantega.commons.filter.NoSpringContextCapableMultipartFilter</filter-class>
    </filter>

    <filter>
        <filter-name>ParamEncodingFilter</filter-name>
        <filter-class>no.kantega.commons.filter.ParamEncodingFilter</filter-class>
    </filter>

    <filter>
        <filter-name>AksessRequestFilter</filter-name>
        <filter-class>no.kantega.commons.filter.AksessRequestFilter</filter-class>
    </filter>

    <filter>
        <filter-name>SetupFilter</filter-name>
        <filter-class>no.kantega.publishing.setup.SetupFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SetupFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <filter-mapping>
        <filter-name>ParamEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>MultipartFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>AksessRequestFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>no.kantega.publishing.spring.DataDirectoryContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>no.kantega.publishing.spring.LogInitListener</listener-class>
    </listener>

    <listener>
        <listener-class>no.kantega.publishing.spring.OpenAksessContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>SetupServlet</servlet-name>
        <servlet-class>no.kantega.publishing.setup.SetupServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>aksess</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>useradmin</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>dwr</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>crossDomainSessionSecurity</param-name>
            <param-value>false</param-value>
        </init-param>
    </servlet>
    <!--

    <servlet>
        <servlet-name>webdav</servlet-name>
        <servlet-class>com.bradmcevoy.http.MiltonServlet</servlet-class>
        <init-param>
            <param-name>resource.factory.factory.class</param-name>
            <param-value>no.kantega.publishing.webdav.AksessFactoryFactory</param-value>
        </init-param>

        To disable digest authentication uncomment the following. To completely disable
        all authentication provide an empty value. If this init-param is missing milton
        will default to basic and digest authentication.

        <init-param>
            <param-name>authentication.handler.classes</param-name>
            <param-value>com.bradmcevoy.http.http11.auth.BasicAuthHandler</param-value>
        </init-param>

        <init-param>
            <param-name>not.found.url</param-name>
            <param-value>/404.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>filter_0</param-name>
            <param-value>com.bradmcevoy.http.DebugFilter</param-value>
        </init-param>
        <load-on-startup>0</load-on-startup>
    </servlet>
        -->

    <servlet-mapping>
        <servlet-name>SetupServlet</servlet-name>
        <url-pattern>/Setup.initialAction</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>aksess</servlet-name>
        <url-pattern>/content.ap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aksess</servlet-name>
        <url-pattern>*.asp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aksess</servlet-name>
        <url-pattern>/attachment.ap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aksess</servlet-name>
        <url-pattern>/attachments/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aksess</servlet-name>
        <url-pattern>/multimedia.ap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aksess</servlet-name>
        <url-pattern>/multimedia/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aksess</servlet-name>
        <url-pattern>/rss.ap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aksess</servlet-name>
        <url-pattern>*.action</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>useradmin</servlet-name>
        <url-pattern>/admin/administration/useradmin/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>aksess</servlet-name>
        <url-pattern>/admin/oap/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>dwr</servlet-name>
        <url-pattern>/admin/dwr/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>aksess</servlet-name>
        <url-pattern>/oap/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.jnlp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.jjs</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>aksess</servlet-name>
        <url-pattern>/sitemap.xml</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>aksess</servlet-name>
        <url-pattern>/robots.txt</url-pattern>
    </servlet-mapping>
   <!--
    <servlet-mapping>
        <servlet-name>webdav</servlet-name>
        <url-pattern>/webdav/*</url-pattern>
    </servlet-mapping>
    -->
    <welcome-file-list>
        <welcome-file>content.ap</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>

    <error-page>
        <error-code>404</error-code>
        <location>/content.ap</location>
    </error-page>
</web-app>