<html>
<body>
<p>Følgende skjema levert av deg er i dag anvist av leder og sendt videre for behandling</p>
<table>
    <tr>
        <td><b>Tittel:</b></td> <td>$formName</td>
    </tr>
    <tr>
        <td><b>Levert:</b></td> <td>$date</td>
    </tr>
    <tr>
        <td>
            <b>Godkjent av:</b></td>
        <td>
            $realApprover.name
            #if($realApprover.id != $approver)
                (på vegne av $approverName)
            #end
        </td>
    </tr>
</table>

</body>
</html>