<html>
<body>
Følgende dokumenter har revisjon i løpet av de neste 30 dager:<br>
<table>
    <tr>
        <td>Tittel</td>
        <td>Revisjonsdato</td>
        <td>&nbsp;</td>
    </tr>

#foreach ($content in $contentlist)
    <tr>
        <td><a href="$baseurl$content.getUrl()">$content.getTitle()</a></td>
        <td>$content.getRevisionDate()</td>
        <td><a href="$baseurl/admin/?thisId=$content.getAssociation().getId()">Rediger</a></td>
    </tr>
#end

<p>
Denne eposten er automatisk generert av Aksess Publisering.  Kontakt $editor ved spørsmål.
 </p>
</table>
</body>
</html>